#font1 {	font-family: 'Andada Pro', serif; }
#font2 {	font-family: 'Roboto', sans-serif; }
.wrap{ width: 1500px; background-color: white;}
.header { width: 100%; height: 100px; background-color: balck;}
.container {
	display: flex; width: 100%;
}
.left {
	width: 50%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
.right {
	width: 50%;
	margin-left: auto;
	margin-right: auto;

}
/*.back-img { 
	backgronud-image: url("https://ih1.redbubble.net/image.1198607014.3986/flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg");
	background-size: 300px 600px;
}*/

nav {position: fixed; width:1500px; height:50px; background-color: black;}
nav ul { 
	list-style: none; display: flex;
	padding: 0 1200px;	
}
nav ul li{
	text-align: center; 
	padding: 0 0 0 50px;
}
nav ul li a{
	color: white;
	font-size: 10pt;
	display: flex;
}
nav ul li a:hover{
	color: #41FF3A;
}

div ul { list-style: none;}
div ul li { 
	text-align: center;
	margin: 20% 20% 20% 20%;
}
div ul li a {
	color: black;
}
div ul li a:hover{
	color: #9536FF;
}
div img {
	width: 80%;
	height: 70%;
	margin-top: 10%;
	margin-bottom: 10%;
}
